
.recipeCard__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.recipeCard__card img {
    width: 45%;
    height: 45%;
}
.recipeCard__card__image{
    border-radius: 0 40px;

}

.recipeCard__info{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 2px solid #FFF;
}
.recipeCard__info p{
    width: 100%;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.recipeCard__info div{
    width: 100%;
    text-align: start;
}

.recipeCard__details img{
    width: 48px;
    height: 48px;
}

.recipeCard__details{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    align-items: center;
    margin-bottom: 15px;
}
.recipeCard__time{
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* Для планшетов */
@media (max-width: 1024px) {
    .recipeCard__card {
        flex-direction: column; /* Изменяем на столбик */
        align-items: center;
    }
    .recipeCard__card img {
        width: 80%; /* Уменьшаем размер изображения */
        height: auto;
    }
    .recipeCard__info {
        width: 90%; /* Уменьшаем ширину информации */
        align-items: center; /* Центрируем текст */
    }
    .recipeCard__info p {
        font-size: 20px; /* Уменьшаем размер текста */
    }
    .recipeCard__details {
        flex-direction: row; /* Вертикальный список */
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 4px; /* Сжимаем расстояние */
    }
    .recipeCard__details div{
        width: 20%;
    }
    .recipeCard__details img {
        width: 36px; /* Уменьшаем размер иконок */
        height: 36px;
    }
    .recipeCard__time {
        font-size: 16px; /* Уменьшаем шрифт времени */
    }
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    .recipeCard__card {
        flex-direction: column; /* Делаем карточку в виде столбика */
        align-items: center;
        padding: 10px; /* Добавляем внутренний отступ */
    }
    .recipeCard__card img {
        width: 100%; /* Изображение на всю ширину */
        height: auto;
    }
    .recipeCard__info {
        width: 100%; /* Информация на всю ширину */
    }
    .recipeCard__info p {
        font-size: 18px; /* Уменьшаем шрифт для мобильных */
    }
    .recipeCard__details {
        flex-direction: row; /* Вертикальный список */
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 4px; /* Сжимаем расстояние */
    }
    .recipeCard__details div{
        width: 20%;
    }

    .recipeCard__details img {
        width: 24px;
        /* Ещё уменьшаем иконки */
        height: 24px;
    }
    .recipeCard__time {
        font-size: 14px; /* Уменьшаем шрифт текста */
    }
}


